.box {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  /* 주축: 가로 */
  /* 자식들을 주축으로 맨앞start /가운데center /맨뒤end /
  균일한 간격: space-between or space-around*/
  /* 기본은 start */
  justify-content: space-between;
  /* 자식들을 교차축으로 (세로)*/
  align-items: end;
}
.pink {
  width: 100px;
  height: 100px;
  background-color: pink;
}
.sky {
  width: 100px;
  height: 100px;
  background-color: skyblue;
}
.grey {
  width: 100px;
  height: 100px;
  background-color: gray;
}
